body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card .card-img-top{
  /* object-fit: cover; */
  object-position: center;
  border-bottom: 1px solid;
}
.pointer {
  cursor: pointer;
}
.login-page {
  height: 100vh;
}
form {
  background-color: antiquewhite;
  width:50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin:150px auto;
  margin-bottom: 150px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 0px 5px;
  border-radius: 10px;
  text-shadow: 0px 0px 5px white;

}
form h2{
margin: 20px;
text-align: center;
}

form:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
form .formDetails {
margin-bottom: 10px;
}
form label{
  padding:10px;
  position: relative;
  /* text-shadow: 3px 3px 3px green; */
}
form label::after {
  content: "";
  width:0;
  left:10px;
  background-color: rgb(133, 169, 133);
  position: absolute;
  height:2px;
  bottom: 5px;
}
form label:hover::after {
  width: 75%;
  transition: .5s;
  cursor: pointer;
}
form input{
  border: none;
  background: transparent;
  border-bottom: 1px solid;
}
form input:focus{
  outline: none;
}
.loginBtn{
  border: none;
  padding: 10px;
  color:white;
  font-size: 18px;
  background-color: black;
  border-radius: 100px;
  width: 50%;
  margin: 10px auto;
}
.loginBtn:hover{
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
